Checks: |-
  -*,
  portability-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-reserved-identifier,
  -bugprone-dynamic-static-initializers,
  -bugprone-implicit-widening-of-multiplication-result,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix,
  -readability-convert-member-functions-to-static,
  -readability-use-anyofallof,
  -readability-non-const-parameter,
  -readability-suspicious-call-argument,
  clang-analyzer-*,
  misc-*,
